<template>
  <div>
    <el-button v-for="item in userList" :key="item._id" @click="getMenus(item._id)">{{ item.username }}</el-button>
  </div>
</template>

<script setup>
import { ref } from 'vue'
import axios from 'axios'

const userList = ref([])
const getUserList = async () => {
  const { data } = await axios.get('http://localhost:3000/users/list').then(res => res.data)
  userList.value = data.users
}
getUserList()

const getMenus = async (id) => {
  const { data: { user } } = await axios.get('http://localhost:3000/users/list', {
    params: {
      id
    }
  }).then(res => {
    return res.data
  })
  let menuList = []
  user.roles.forEach(item => {
    menuList.push(...item.menus)
  })
  const map = new Map()
  menuList = menuList.filter((item) => !map.has(item._id) && map.set(item._id, 1))
  let parentMenus = menuList.filter(item => !item.pid)
  let childrenMenus = menuList.filter(item => item.pid)

  function generateMenuList(parentMenus, childrenMenus) {
    parentMenus.map(parentMenu => {
      childrenMenus.map((childrenMenu, index) => {
        if (parentMenu._id === childrenMenu.pid) {
          let _children = JSON.parse(JSON.stringify(childrenMenus))
          _children.splice(index, 1)
          generateMenuList([childrenMenu], _children)

          if (parentMenu.children) {
            parentMenu.children.push(childrenMenu)
          } else {
            parentMenu.children = [childrenMenu]
          }
        }
      })
    })
    return parentMenus
  }

  console.log(generateMenuList(parentMenus, childrenMenus))
}
</script>
