<template>
  <div style="width: 250px;">
    <el-button @click="handleAdd">添加一级菜单</el-button>
    <el-tree
        ref="menuTreeRef"
        :data="menuList"
        node-key="_id"
        :props="{label: 'title'}"
        default-expand-all
        :expand-on-click-node="false"
    >
      <template #default="{ node, data }">
        <span style="flex: 1; display: flex; justify-content: space-between; align-items: center;">
          <span>{{ node.label }}</span>
          <span>
            <el-icon @click="handleAdd(data)">
              <Plus/>
            </el-icon>
            <el-icon @click="handleEdit(data)">
              <Edit/>
            </el-icon>
            <el-icon @click="handleDelete(data)">
              <Delete/>
            </el-icon>
          </span>
        </span>
      </template>
    </el-tree>
  </div>

  <el-dialog
      v-model="dialogVisible"
      :title="dialogTitle"
      width="30%"
  >
    <el-form
        ref="formRef"
        :model="menuInfo"
        label-width="60px"
    >
      <el-form-item label="pid" prop="pid">
        <el-input v-model="menuInfo.pid" disabled></el-input>
      </el-form-item>
      <el-form-item label="path" prop="path">
        <el-input v-model="menuInfo.path"></el-input>
      </el-form-item>
      <el-form-item label="name" prop="name">
        <el-input v-model="menuInfo.name"></el-input>
      </el-form-item>
      <el-form-item label="title" prop="title">
        <el-input v-model="menuInfo.title"></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="dialogVisible = false">取消</el-button>
        <el-button type="primary" @click="handleSubmit(submitType)">确定</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import { ref } from 'vue'
import axios from 'axios'
import { Plus, Edit, Delete } from '@element-plus/icons-vue'
import {ElMessageBox, ElNotification} from 'element-plus'

// 获取菜单列表
const menuList = ref([])
const loading = ref(false)
const getMenuList = async () => {
  const { data } = await axios.get('http://localhost:3000/menus/list').then(res => res.data)
  let parentMenus = data.menus.filter(item => !item.pid)
  let childrenMenus = data.menus.filter(item => item.pid)
  menuList.value = generateMenuList(parentMenus, childrenMenus)
}
getMenuList()

function generateMenuList(parentMenus, childrenMenus) {
  parentMenus.map(parentMenu => {
    childrenMenus.map((childrenMenu, index) => {
      if (parentMenu._id === childrenMenu.pid) {
        let _children = JSON.parse(JSON.stringify(childrenMenus))
        _children.splice(index, 1)
        generateMenuList([childrenMenu], _children)

        if (parentMenu.children) {
          parentMenu.children.push(childrenMenu)
        } else {
          parentMenu.children = [childrenMenu]
        }
      }
    })
  })
  return parentMenus
}

const menuInfo = ref({})
const dialogVisible = ref(false)
const dialogTitle = ref('')
const submitType = ref('')
const handleAdd = (data) => {
  menuInfo.value = {}
  menuInfo.value.pid = data._id
  dialogTitle.value = '添加菜单'
  submitType.value = 'add'
  dialogVisible.value = true
}

const handleEdit = (data) => {
  menuInfo.value = JSON.parse(JSON.stringify(data))
  dialogTitle.value = '编辑菜单'
  submitType.value = 'edit'
  dialogVisible.value = true
}

const formRef = ref(null)
const handleReset = () => {
  formRef.value.resetFields()
  dialogVisible.value = false
}

const handleSubmit = async (type) => {
  switch (type) {
    case 'add':
      const data = await axios.post(`http://localhost:3000/menus/addition`, menuInfo.value).then(res => res.data)
      if (data.code === 200) {
        ElNotification.success('添加成功')
      }
      break
    case 'edit':
      const data2 = await axios.put(`http://localhost:3000/menus/info?id=${menuInfo.value._id}`, menuInfo.value).then(res => res.data)
      if (data2.code === 200) {
        ElNotification.success('修改成功')
      }
      break
  }
  dialogVisible.value = false
  await getMenuList()
}

const handleDelete = (data) => {
  console.log(data)
  ElMessageBox.confirm(
      `你确定要删除菜单 ${data.title} 吗`,
      '删除菜单',
      {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }
  ).then(async () => {
    const { code } = await axios.delete(`http://localhost:3000/menus/delete?id=${data._id}`).then(res => res.data)
    if (code === 200) {
      ElNotification.success('删除成功')
    }
    await getMenuList()
  })
}
</script>
