<template>
  <el-button @click="handleAddition">添加角色</el-button>
  <el-table :data="roleList" v-loading="loading">
    <el-table-column prop="_id" label="ID"></el-table-column>
    <el-table-column prop="name" label="名称"></el-table-column>
    <el-table-column label="权限">
      <template #default="{row}">
        <el-tag v-for="item in row.menus" :key="item._id">{{ item.title }}</el-tag>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template #default="{row}">
        <el-button type="primary" @click="handleEdit(row)">编辑</el-button>
        <el-button type="success" @click="handleRoles(row)">权限</el-button>
        <el-button type="danger" @click="handleDelete(row)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>

  <el-dialog
      v-model="addDialogVisible"
      title="添加角色"
      width="30%"
      :close-on-click-modal="false"
      @close="handleReset"
  >
    <el-form ref="addFormRef" :model="roleForm" label-width="60px">
      <el-form-item label="用户名" prop="name">
        <el-input v-model="roleForm.name"></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="handleReset">取消</el-button>
        <el-button type="primary" @click="handleSubmit('add')">确定</el-button>
      </span>
    </template>
  </el-dialog>

  <el-dialog
      v-model="editDialogVisible"
      title="修改角色"
      width="30%"
  >
    <el-form :model="roleInfo" label-width="60px">
      <el-form-item label="用户名">
        <el-input v-model="roleInfo.name"></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="editDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="handleSubmit('edit')">确定</el-button>
      </span>
    </template>
  </el-dialog>

  <el-dialog
      v-model="menuDialogVisible"
      title="修改权限"
      width="30%"
  >
    <el-tree
        ref="menuTreeRef"
        :data="menuList"
        node-key="_id"
        :props="{label: 'title'}"
        show-checkbox
        default-expand-all
    />
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="menuDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="handleSubmit('menus')">确定</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import { nextTick, ref } from 'vue'
import axios from 'axios'
import { ElMessageBox, ElNotification } from 'element-plus'

// 获取角色列表
const roleList = ref([])
const loading = ref(false)
const getRoleList = async () => {
  loading.value = true
  const { data } = await axios.get('http://localhost:3000/roles/list').then(res => res.data)
  roleList.value = data.roles
  loading.value = false
}
getRoleList()

function generateMenuList(parentMenus, childrenMenus) {
  parentMenus.map(parentMenu => {
    childrenMenus.map((childrenMenu, index) => {
      if (parentMenu._id === childrenMenu.pid) {
        let _children = JSON.parse(JSON.stringify(childrenMenus))
        _children.splice(index, 1)
        generateMenuList([childrenMenu], _children)

        if (parentMenu.children) {
          parentMenu.children.push(childrenMenu)
        } else {
          parentMenu.children = [childrenMenu]
        }
      }
    })
  })
  return parentMenus
}

// 获取菜单列表
const menuList = ref([])
const getMenuList = async () => {
  const { data } = await axios.get('http://localhost:3000/menus/list').then(res => res.data)
  let parentMenus = data.menus.filter(item => !item.pid)
  let childrenMenus = data.menus.filter(item => item.pid)
  menuList.value = generateMenuList(parentMenus, childrenMenus)
}
getMenuList()

// 添加用户
const roleForm = ref({})
const addDialogVisible = ref(false)
const handleAddition = () => {
  addDialogVisible.value = true
}

// 重置表单
const addFormRef = ref(null)
const handleReset = () => {
  addFormRef.value.resetFields()
  addDialogVisible.value = false
}

// 修改用户
const roleInfo = ref({})
const editDialogVisible = ref(false)
const handleEdit = (row) => {
  roleInfo.value = JSON.parse(JSON.stringify(row))
  editDialogVisible.value = true
}

const menuTreeRef = ref(null)
const menuDialogVisible = ref(false)
const handleRoles = (row) => {
  roleInfo.value = JSON.parse(JSON.stringify(row))
  menuDialogVisible.value = true
  nextTick(() => {
    menuTreeRef.value.setCheckedKeys(row.menus.map(item => {
      if (item.pid) {
        return item._id
      }
    }))
  })
}

const handleSubmit = async (type) => {
  switch (type) {
    case 'add':
      const data = await axios.post(`http://localhost:3000/roles/addition`, roleForm.value).then(res => res.data).catch(error => {
        ElNotification.error(error)
      })
      if (data.code === 200) {
        ElNotification.success('添加成功')
      }
      addDialogVisible.value = false
      break
    case 'edit':
      const data2 = await axios.put(`http://localhost:3000/roles/info?id=${roleInfo.value._id}`, {
        name: roleInfo.value.name
      }).then(res => res.data)
      if (data2.code === 200) {
        ElNotification.success('修改成功')
      }
      editDialogVisible.value = false
      break
    case 'menus':
      const halfCheckedKeys = menuTreeRef.value.getHalfCheckedKeys()
      const checkedKeys = menuTreeRef.value.getCheckedKeys()
      const data3 = await axios.put(`http://localhost:3000/roles/menus?id=${roleInfo.value._id}`, {
        menus: [...halfCheckedKeys, ...checkedKeys].join(',')
      }).then(res => res.data)
      if (data3.code === 200) {
        ElNotification.success('修改成功')
      }
      menuDialogVisible.value = false
      break
  }
  await getRoleList()
}

const handleDelete = (row) => {
  ElMessageBox.confirm(
      `你确定要删除角色 ${row.name} 吗`,
      '删除用户',
      {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }
  ).then(async () => {
    const { code } = await axios.delete(`http://localhost:3000/roles/delete?id=${row._id}`).then(res => res.data)
    if (code === 200) {
      ElNotification.success('删除成功')
    }
    await getRoleList()
  })
}

</script>
