<template>
  <el-button @click="handleAddition">添加用户</el-button>
  <el-table :data="userList" v-loading="loading">
    <el-table-column prop="_id" label="ID"></el-table-column>
    <el-table-column prop="username" label="用户名"></el-table-column>
    <el-table-column prop="password" label="密码"></el-table-column>
    <el-table-column label="角色">
      <template #default="{row}">
        <el-tag v-for="item in row.roles" :key="item._id">{{ item.name }}</el-tag>
      </template>
    </el-table-column>
    <el-table-column label="操作">
      <template #default="{row}">
        <el-button type="primary" @click="handleEdit(row)">编辑</el-button>
        <el-button type="success" @click="handleRoles(row)">角色</el-button>
        <el-button type="danger" @click="handleDelete(row)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>

  <el-dialog
      v-model="addDialogVisible"
      title="添加用户"
      width="30%"
      :close-on-click-modal="false"
      @close="handleReset"
  >
    <el-form ref="addFormRef" :model="userForm" label-width="60px">
      <el-form-item label="用户名" prop="username">
        <el-input v-model="userForm.username"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="userForm.password"></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="handleReset">取消</el-button>
        <el-button type="primary" @click="handleSubmit('add')">确定</el-button>
      </span>
    </template>
  </el-dialog>

  <el-dialog
      v-model="editDialogVisible"
      title="修改用户"
      width="30%"
  >
    <el-form :model="userInfo" label-width="60px">
      <el-form-item label="用户名">
        <el-input v-model="userInfo.username"></el-input>
      </el-form-item>
      <el-form-item label="密码">
        <el-input v-model="userInfo.password"></el-input>
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="editDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="handleSubmit('edit')">确定</el-button>
      </span>
    </template>
  </el-dialog>

  <el-dialog
      v-model="roleDialogVisible"
      title="修改角色"
      width="30%"
  >
    <el-checkbox-group v-model="selectRoleList">
      <el-checkbox v-for="item in roleList" :key="item._id" :label="item._id">{{ item.name }}</el-checkbox>
    </el-checkbox-group>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="roleDialogVisible = false">取消</el-button>
        <el-button type="primary" @click="handleSubmit('roles')">确定</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import { nextTick, ref } from 'vue'
import axios from 'axios'
import { ElMessageBox, ElNotification } from 'element-plus'

// 获取用户列表
const userList = ref([])
const loading = ref(false)
const getUserList = async () => {
  loading.value = true
  const { data } = await axios.get('http://localhost:3000/users/list').then(res => res.data)
  userList.value = data.users
  loading.value = false
}
getUserList()

// 获取角色列表
const roleList = ref([])
const getRoleList = async () => {
  const { data } = await axios.get('http://localhost:3000/roles/list').then(res => res.data)
  roleList.value = data.roles
}
getRoleList()

// 添加用户
const userForm = ref({})
const addDialogVisible = ref(false)
const handleAddition = () => {
  addDialogVisible.value = true
}

// 重置表单
const addFormRef = ref(null)
const handleReset = () => {
  addFormRef.value.resetFields()
  addDialogVisible.value = false
}

// 修改用户
const userInfo = ref({})
const editDialogVisible = ref(false)
const handleEdit = (row) => {
  userInfo.value = JSON.parse(JSON.stringify(row))
  editDialogVisible.value = true
}

const selectRoleList = ref([])
const roleDialogVisible = ref(false)
const handleRoles = (row) => {
  userInfo.value = JSON.parse(JSON.stringify(row))
  selectRoleList.value = row.roles.map(item => item._id)
  roleDialogVisible.value = true
}

const handleSubmit = async (type) => {
  switch (type) {
    case 'add':
      const { code } = await axios.post(`http://localhost:3000/users/addition`, userForm.value).then(res => res.data).catch(error => {
        ElNotification.error(error)
      })
      if (code === 200) {
        ElNotification.success('添加成功')
      }
      addDialogVisible.value = false
      await getUserList()
      break
    case 'edit':
      const { code2 } = await axios.put(`http://localhost:3000/users/info?id=${userInfo.value._id}`, {
        username: userInfo.value.username,
        password: userInfo.value.password
      }).then(res => res.data)
      if (code2 === 200) {
        ElNotification.success('修改成功')
      }
      editDialogVisible.value = false
      await getUserList()
      break
    case 'roles':
      const { code3 } = await axios.put(`http://localhost:3000/users/roles?id=${userInfo.value._id}`, {
        roles: selectRoleList.value.join(',')
      }).then(res => res.data)
      if (code3 === 200) {
        ElNotification.success('修改成功')
      }
      roleDialogVisible.value = false
      await getUserList()
      break
  }
}

const handleDelete = (row) => {
  ElMessageBox.confirm(
      `你确定要删除用户 ${row.username} 吗`,
      '删除用户',
      {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning',
      }
  ).then(async () => {
    const { code } = await axios.delete(`http://localhost:3000/users/delete?id=${row._id}`).then(res => res.data)
    if (code === 200) {
      ElNotification.success('删除成功')
    }
    await getUserList()
  })
}

</script>
