<template>
  <div>
    <router-link to="/">首页</router-link>
    <router-link to="/users">用户</router-link>
    <router-link to="/roles">角色</router-link>
    <router-link to="/auths">菜单</router-link>
  </div>
  <router-view></router-view>
</template>

<script setup>
import axios from 'axios'

const getMenuList = async () => {
  // const { data } = await axios.post('http://localhost:3000', { uid: 3 })
  // let parentMenus = data.filter(item => item.pid === 0)
  // let childrenMenus = data.filter(item => item.pid !== 0)
  // console.log(generateMenuList(parentMenus, childrenMenus))
  //
  // function generateMenuList(parentMenus, childrenMenus) {
  //   parentMenus.map(parentMenu => {
  //     childrenMenus.map((childrenMenu, index) => {
  //       if (parentMenu.id === childrenMenu.pid) {
  //         let _children = JSON.parse(JSON.stringify(childrenMenus))
  //         _children.splice(index, 1)
  //         generateMenuList([childrenMenu], _children)
  //
  //         if (parentMenu.children) {
  //           parentMenu.children.push(childrenMenu)
  //         } else {
  //           parentMenu.children = [childrenMenu]
  //         }
  //       }
  //     })
  //   })
  //   return parentMenus
  // }

  // const { data: {user} } = await axios.get('http://localhost:3000/users/list', {
  //   params: {
  //     id: '631f004ab4fd75e674f31f64'
  //   }
  // }).then(res => {
  //   return res.data
  // })
  // let menuList = []
  // user.roles.forEach(item => {
  //   menuList.push(...item.menus)
  // })
  // const map = new Map()
  // menuList = menuList.filter((item) => !map.has(item._id) && map.set(item._id, 1))
  // let parentMenus = menuList.filter(item => !item.pid)
  // let childrenMenus = menuList.filter(item => item.pid)
  // function generateMenuList(parentMenus, childrenMenus) {
  //   parentMenus.map(parentMenu => {
  //     childrenMenus.map((childrenMenu, index) => {
  //       if (parentMenu._id === childrenMenu.pid) {
  //         let _children = JSON.parse(JSON.stringify(childrenMenus))
  //         _children.splice(index, 1)
  //         generateMenuList([childrenMenu], _children)
  //
  //         if (parentMenu.children) {
  //           parentMenu.children.push(childrenMenu)
  //         } else {
  //           parentMenu.children = [childrenMenu]
  //         }
  //       }
  //     })
  //   })
  //   return parentMenus
  // }
  //
  // console.log(generateMenuList(parentMenus, childrenMenus))
}
getMenuList()

</script>

<style>
#app {
  height: 100%;
}

a {
  margin-right: 10px;
}
</style>
